@import "_colors.scss";

.footer__container{
  border-top: 3px solid $bright-blue;
  background-color: white;
  border-bottom: 10px solid $darkred;
  padding-block: 10px;
  font-family: sans-serif;
  text-align: center;
  h3{
    font-weight: normal;
    color: $blue;
    font-size: 24px;
  }
}

.footer__sitemap-list a{
  display: block;
  text-decoration: none;
  color: $graytext;
  padding-block: 10px;
  &:hover{
    color: $darkred;
  }
}

.footer__social-grid{
  display: grid;
  grid-template-columns: repeat(4,50px);
  gap: 10px;
  width: 230px;
  margin-inline: auto;
  div{
    //background-color: $darkgray;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      transform: scale(1.00);
      transition: transform .3s;
      border-radius: 50px;
      &:hover{
        transform: scale(1.15);
        transition: transform .3s;
      }
    }
    span{
      display: none;
    }
  }
}

.footer__logo{
  img{
    display: block;
    max-width: 120px;
    margin-inline: auto;
  }
}

.footer__signature{
  padding-top: 20px;
  padding-bottom: 10px;
  color: $graytext;
  a{
    color: $graytext;
    text-decoration: none;
  }
}

@media (min-width: 768px){
  .footer__container{
    .footer__grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      width: 80%;
      max-width: 960px;
      margin-inline: auto;
    }
  }
  .footer__sitemap{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
