@import "_colors.scss";

section{
  margin-block: 40px;
}

.section__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $blue;
  border-radius: 30px;
  position: relative;
  margin-top: 20px;
  margin-inline: auto;
  img{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 20;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  &::before{
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    border: 2px solid $darkred;
    box-sizing: border-box;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 35px;
  }
}

.section__title{
  margin-top: 20px;
  font-family: sans-serif;
  color: $blue;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: $darkred;
    position: absolute;
    bottom: -15px;
    box-shadow: 16px 0 0 $darkred, 32px 0 0 $darkred, 48px 0 0 $darkred;
    left: calc(50% - 28px);
  }
}

.section__paragraph{
  font-family: sans-serif;
  color: $graytext;
  line-height: 140%;
  text-align: center;
  max-width: 760px;
  margin-inline: auto;
}

.section__button{
  background-color: $darkred;
  display: block;
  padding: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  max-width: 400px;
  margin-inline: auto;
  &:hover{
    background-color: lighten($darkred, 10%);
  }
}

.section__list{
  font-family: sans-serif;
  list-style: none;
  max-width: 760px;
  margin-inline: auto;
  &-item{
    position: relative;
    line-height: 140%;
    &::before{
      display: inline-block;
      width: 5px;
      height: 80%;
      position: absolute;
      top: 10%;
      content: '';
      background-color: $blue;
      left: -20px;
    }
  }
}

.quote__container{
  display: block;
  position: relative;
  max-width: 960px;
  width: 100%;
  margin-block: 40px;
}

.quote__background{
  display: block;
  max-width: 960px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-inline: auto;
}

.quote__text{
  display: block;
  background-color: $main-bg;
  padding: 20px;
  box-sizing: border-box;
  bottom: 20px;
  width: 80%;
  left: 10%;
  position: absolute;
  text-align: center;
  color: $blue;
  font-style: normal;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 140%;
  border-radius: 3px;
}

.section__card{
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-block: 8px;
}

.section__card-container{
  border-block: 5px solid $darkred;
  padding: 10px;
}

.section__card-title{
  margin-block: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: $bright-blue;
}

.section__card-image{
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  margin-bottom: 20px;
  img{
    display: block;
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
}

.section__card-button{
  background-color: $bright-blue;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 15px;
  text-align: center;
  &:hover{
    background: lighten($bright-blue, 10%);
  }
}

.section__card-paragraph{
  font-family: sans-serif;
  line-height: 140%;
  margin-block: 8px;
}

.section__form{
  background: $darkgray;
  padding-block: 20px;
  font-family: sans-serif;
  margin-top: 20px;
  div{
    margin-inline: auto;
    width: 100%;
    max-width: 480px;
  }
  label{
    color: $darkred;
    font-family: sans-serif;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
  }
  input{
    height: 50px;
    padding-inline: 10px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    max-width: 480px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    &::placeholder{
      color: #666666;
    }
  }
  .section__form-checkbox{
    display: flex;
    margin-block: 10px;
    input[type="checkbox"]{
      -webkit-appearance: none;
      appearance: none;
      display: block;
      background-color: white;
      max-width: 22px;
      max-height: 22px;
      border: none;
      margin-right: 10px;
      position: relative;
      box-sizing: border-box;
      &:checked::before{
        position: absolute;
        content: '';
        display: block;
        background-color: $darkred;
        width: 14px;
        height: 14px;
        top: 4px;
        left: 4px;
        border-radius: 3px;
      }
    }
  }
}

.section__form-title{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  text-align: center;
}

.section__button-form{
  background-color: $darkred;
  display: block;
  border-radius: 5px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-inline: auto;
  border: none;
  width: 100%;
  max-width: 400px;
  &:hover{
    background-color: lighten($darkred, 10%);
  }
}


@media (min-width: 768px){
  .quote__background{
    aspect-ratio: 3/1;
  }
  .quote__text{
    font-size: 28px;
    max-width: 80%;
    box-sizing: border-box;
  }
  .section__card-container--grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    max-width: 960px;
    margin-inline: auto;
  }
  .section__list{
    column-count: 2;
    column-gap: 20px;
  }
  .section__card-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
}

@media (min-width: 1025px){
  .quote__text{
    width: 768px;
    left: calc(50% - 384px);
  }
}
